#about {
    height: 100%;
    width: 100%;
    // height: 100vh;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    // background-image: url(../assets/bg.jpeg);
    // background-size: cover;
    background-color: rgb(20, 20, 20);
    padding-bottom: 9rem;
    position: relative;
    z-index: 4;
}

// .abtHeader {
//     // display: flex;
//     // justify-content: center;
//     color: yellow;
//     padding-bottom: 3rem;
//     font-size: 4.5rem;
// }

.abtSections {
    width: 100%;
}

.abtLeft {
    width: 40%;
    float: left;
}

.abtLeft p {
    font-size: 1.1rem;
    text-align: justify;
    letter-spacing: 0.1rem;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

.abtRight {
    width: 57%;
    float: right;
}

.eduExp {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    font-size: 1.4rem;
}

.eduExp h2 {
    background: linear-gradient(to right, cyan 0%, #e31b6d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timeline {
    display: block;
    width: 80%;
    margin: 150px auto;
}

.projectsDone {
    width: 20vw;
    margin-top: -22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7rem;
    background-color: aqua;
    color: #e31b6d;
    border-radius: 15px;
}

.projectsDone .number {
    font-size: 2.5rem;
    font-weight: 900;
}

.projectsDone .done {
    font-size: 1.9rem;
    font-weight: 700;
}

.info-item {
    flex: 0 0 50%;
    max-width: 49%;
    // background-color: #e31b6d;
}

.row {
    display: flex;
    // justify-content: space-around;
}
.info-item p {
    font-weight: 600;
    font-size: 0.9rem;
    padding: 1rem 0;
    border-top: 0.1rem solid #e31b6d;
    border-bottom: 0.1rem solid #e31b6d;
    color: aqua;
}

.info-item span {
    font-weight: 400;
    color: white;
}
.personal-info {
    margin-top: 3.7rem;
    width: 40vw;
}